# 使用 / 而不是 \ 来表示路径

记录.md
经验.md

rs.bat
cm.bat
cr.bat
remove_spaces.bat
remove_spaces.py

datasets/

HL-GNN/*
!HL-GNN/
!HL-GNN/note/


problem_setup/get_list.py
problem_setup/getname.py
problem_setup/list.txt
problem_setup/extracted_references.txt